* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4d467;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* .home {
  background-color: #fffffe;
} */
/*! Language Component Styling  */
/********************************/
.lang-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
}
.lang-logo {
  transition: transform 0.2s;
}

.lang-card:hover .lang-logo {
  transform: scale(1.2);
}

img {
  width: 900px;
  height: 60vh;
}
.bayrak {
  width: 200px;
  height: 100px;
}
